#!/bin/bash

VERSION="1.2.2"

# This an example pianoX.sh script.

# Piano scripts are user defined and they run automatically at startup 
# depending on the position of the levers of the 4 position piano switch 
# mounted on the Nexus board. Your script must meet the following
# criteria:
#
# - Located in your home folder (usually /home/pi)
#
# - Named 'pianoX.sh' where X is one of these:
#
#		1, 12, 13, 14, 123, 124, 134, 1234, 2, 23, 234, 24, 3, 34, 4
#
#   NOTE: If no switch levers are in the down position, 'piano.sh' 
#   (if it exists) will run so there are 16 possible lever positions 
#   and corresponding scripts.
#
# - Must be executable. You can make your script executable 
#   by running this command:
#
#     chmod +x <script name>
#
#   For example:
#
#     chmod +x piano1234.sh
#
# For example, if your script is named 'piano23.sh', it will run at bootup
# when piano switch levers 1 and 4 are up and 2 and 3 are down.  

#===========================================================================
# EXAMPLE 1: This script will change the call sign and other parameters
# in the Fldigi and Flmsg apps.  It makes these
# changes for both the left and right radios.  Edit the variables below to
# make your desired changes.

OP_CALL="N0ONE"
OP_NAME="John Doe"
STATION_CALL="N0ONE"
TEL="360-555-1212"
ADDR="123 Main St"
CITY="Anytown"
EMAIL="n0one@example.com"
QTH="Anytown"
LOC="CN88ss"

# Close Flmsg if it's running
(pgrep -x flmsg &>/dev/null) && pkill -SIGTERM -x flmsg
DIRS=".nbems .nbems-left .nbems-right"
for D in $DIRS
do
	if [ -f $HOME/$D/FLMSG.prefs ]
	then
		sed -i -e "s/^mycall:.*/mycall:$OP_CALL/" \
				 -e "s/^mytel:.*/mytel:$TEL/" \
				 -e "s/^myname:.*/myname:$OP_NAME/" \
				 -e "s/^myaddr:.*/myaddr:$ADDR/" \
				 -e "s/^mycity:.*/mycity:$CITY/" \
				 -e "s/^myemail:.*/myemail:$EMAIL/" $HOME/$D/FLMSG.prefs
	fi
done
# Close Fldigi if it's running
(pgrep -x fldigi &>/dev/null) && pkill -SIGTERM -x fldigi
DIRS=".fldigi .fldigi-left .fldigi-right"
for D in $DIRS
do
	if [ -f $HOME/$D/fldigi_def.xml ]
	then
		sed -i -e "s/<MYCALL>.*<\/MYCALL>/<MYCALL>$STATION_CALL<\/MYCALL>/" \
		       -e "s/<MYQTH>.*<\/MYQTH>/<MYQTH>$QTH<\/MYQTH>/" \
		       -e "s/<MYNAME>.*<\/MYNAME>/<MYNAME>$OP_NAME<\/MYNAME>/" \
		       -e "s/<MYLOC>.*<\/MYLOC>/<MYLOC>$LOC<\/MYLOC>/" \
		       -e "s/<OPERCALL>.*<\/OPERCALL>/<OPERCALL>$OP_CALL<\/OPERCALL>/" $HOME/$D/fldigi_def.xml
	fi
done
#==========================================================================
#==========================================================================
# EXAMPLE 2: You can manipulate the
# desktop wallpaper, background and foreground, etc.
# Those settings are stored in 
# $HOME/.config/pcmanfm/LXDE-pi/desktop-items-0.conf. You're on
# your own for creating that script.
#
#==========================================================================
#==========================================================================
# EXAMPLE 3: Automatically start one or more applications.  
# Anything that you can start from the menu
# you can autostart at boot time.  You can start any application that is
# called from a desktop file in /usr/share/applications, 
# /usr/local/share/applications or $HOME/.local/share/applications.  
# Start applications by launching the desktop files using 'gtk-launch'.  
# For example, these commands will autostart
# direwolf on the right radio, play a WAV file, and start fldigi on the 
# right radio:

gtk-launch direwolf-right.desktop
aplay /usr/lib/libreoffice/share/gallery/sounds/kongas.wav
gtk-launch fldigi-left.desktop

# Note that you do not need to background (by appending the '&' syumbol)
# each instance of gtk-launch.  All instances of gtk-launch will execute.
# You also do not need to specify the location of the *.desktop file.
# gtk-launch will look in the directories listed above for the desktop file.




